<footer class="footer">
  <div class="clearfix">
    <div class="footer-container">
      <div class="footer-copy">
        <h1>lumbrjack</h1>
        <p>London based product manager, javascript developer and budding web designer.</p>
        <div class="footer-nav">
          <ul>
            <li><a href="http://lumbrjack.com">Home</a></li>
            <li><a href="http://lumbrjack.com/projects">Portfolio</a></li>
            <li><a href="http://blog.lumbrjack.com" target="_blank">Blog</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="social-icons">
          <ul class="list-inline">
            <li><a href="https://github.com/FatEd11"><i class="fa fa-github"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="mailto:hello@lumbrjack.co.uk"><i class="fa fa-at"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-container">
      <img class="footer-image" src="/content/images/2015/03/beard.png" alt="All hail the beard of the lumbrjack..." />
    </div>
  </div>
  <div class="colophon">
    <p>
      &copy; 2015 the lumbrjack <span>Hewn in London</span>
    </p>
  </div>
</footer>